.about-page{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.about-card{
    width: 80%;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 3em;
    justify-content: space-between;
}

.about-lead-team{
    justify-content: center;
    align-items: flex-start;
}

.about-card-lead{
    width: 38%;
}

.about-card-lead:first-of-type{
    margin-right: 4%;
}

.about-card-head{
    align-items: center;
    margin-bottom: 1em;
}

.about-icon{
    font-size: 2em;
    margin-right: 1rem;
}

.team-logo{
    height: 3em;
    width: auto;
    margin-right: 1em;
}

.about-card p{
    margin: 0.5em 0;
}

.about-links{
    justify-content: space-between;
    margin-top: 1em;
    color: var(--green);
    font-weight: bold;
}

.about-links>div>a:first-of-type{
    margin-right: 1em;
}

ul{
    margin-left: 3em;
}

ul>li>span{
    font-weight: bold;
    color: var(--green);
}