html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-image: linear-gradient(315deg,rgb(69, 46, 90) 0%, #271d46 50%, #001438 100%);
    color: white;
}

*{
    box-sizing: border-box;
}

main{
    height: 93%;
}

.flex-item{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.grid-item{
    display: grid;
}

.light-color{
    background: rgb(250, 255, 250);
    color: #012340;
}

h1{
    font-size: 3em;
    margin: 0;
}

h2{
    font-size: 2em;
    margin: 0;
}

p{
    margin: 0;
}