button{
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: 0.8em;
    background: none;
    color: white;
    font-weight: bold;
}

.green-btn{
    background-image: var(--backgreen);
    background-size: 120% 120%;
    background-position: center;
    border: 2px solid transparent;
}

#cta-btn {
    font-size: 1.3em;
}

.border-btn{
    border: 2px solid var(--lightgreen);
}

.see-more-btn{
    /* border-color: var(--darkblue); */
    color: var(--darkblue);
    padding: 0 0.2em;
    line-height: 0.5em;
    font-size: 1.5em;
}

.left-btn{
    margin-left: 1em;
}

.right-btn{
    margin-right: 1em;
}

.down-btn{
    margin-bottom: 3em;
}

.up-btn{
    margin-top: 3em;
}