.form-page{
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 2em;
    height: 100vh;
}

.form-page>h3{
    margin-top: 2rem;
}

.form{
    width: 375px;
    margin: 0 0 2em;
}

.form-save{
    margin: 2em;
    width: 100%;
}

.input{
    margin: 1em 0 1em;
    padding: 0.5em 1em;
    font-size: 1rem;
    border-radius: 1em;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.form-page p a{
    color: var(--green);
    font-weight: bold;
}

.contact-choices{
    margin-top: 2em;
    display: grid;
    grid: auto auto / 300px 300px;
    grid-template-areas: "bug suggestion"
    "contribution partenariat";
    gap: 50px
}

#bug{
    grid-area: bug;
}

#suggestion{
    grid-area: suggestion;
}

#contribution{
    grid-area: contribution;
}

#partenariat{
    grid-area: partenariat;
}

.contactCard{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactCard img{
    height: 35px;
    width: auto;
    margin-right: 1.5em;
}

.contactCard h4{
    font-size: 1em;
    color: #7fffd4;
}

.contactCard p{
    margin: 1em 0;
}

.contactCard div{
    display: flex;
    align-items: center;
}
