.form-page{
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 2em;
}

.form-page>h2{
    margin-top: 2rem;
}

.form{
    width: 375px;
    margin: 0 0 2em;
}

.form-save{
    margin: 2em;
    width: 100%;
}

.input{
    margin: 1em 0 1em;
    padding: 0.5em 1em;
    font-size: 1rem;
    border-radius: 1em;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.form-page p a{
    color: var(--green);
    font-weight: bold;
}

@media (max-width: 800px) and (orientation: portrait) {
    .form-page{
        height: 92vw;
    }
}