.form-page{
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 2em;
    height: 92vh;
}

.form{
    width: 375px;
    margin: 0 0 2em;
}

.form-save{
    margin: 2em;
    width: 100%;
}

.input, .form select, .form textarea{
    margin: 1em 0 1em;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 1em;
}

.form-page p a{
    color: var(--green);
    font-weight: bold;
}

@media (max-width: 800px) and (orientation: portrait) {
    .form-page{
        height: 92vw;
    }
}