.form-page{
    align-items: center;
    justify-content: flex-start;
    padding: 2em 0;
}

.form{
    width: 375px;
    margin: 2em;
}

.input, .form select, .form textarea{
    margin: 1em 0 2em;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 1em;
}

.news-box{
    align-items: center;
    margin-bottom: 2em;
}

.form input[type=checkbox]{
    margin-right: 1em;
}

.form-page p a{
    color: var(--green);
    font-weight: bold;
}