@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

header{
    padding: 0 2rem;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header button {
    font-family: 'Circular Std';
    margin-left: 1em;
    border: none;
    font-size: 1.1em;
}

#header-simulator {
    color: #163e59;
    background-color: white;
}

.header-left{
    font-family: 'Fugaz One', cursive;
}

.header-link{
    justify-content: flex-start;
    align-items: center;
}

.header-logo{
    width: 2em;
    margin-right: 1em;
}

.header h4{
    display: inline-block;
}

nav > a:first-child button {
    font-weight: bold;
}

@media (min-width: 800px) and (max-width: 950px) {

    header button {
        font-family: 'Circular Std';
        margin-left: 0.5em;
        border: none;
        font-size: 0.7em;
    }

}

@media (min-width: 950px) and (max-width: 1100px) {

    header button {
        font-family: 'Circular Std';
        margin-left: 0.7em;
        border: none;
        font-size: 0.9em;
    }

}