@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

header{
    padding: 0 2rem;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.header-left{
    font-family: 'Fugaz One', cursive;
}

.header-link{
    justify-content: flex-start;
    align-items: center;
}

.header-logo{
    width: 2em;
    margin-right: 1em;
}

.header h4{
    display: inline-block;
}