@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

header{
    padding: 0 2rem;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2em 0;
    width: 100%;
}

header button {
    font-family: 'Circular Std';
}

#header-simulator {
    color: #163e59;
    background-color: white;
}

.header-left{
    font-family: 'Fugaz One', cursive;
}

.header-link{
    justify-content: flex-start;
    align-items: center;
}

.header-logo{
    width: 2em;
    margin-right: 1em;
}

.header h4{
    display: inline-block;
}

nav > a:first-child button {
    font-weight: bold;
}