.home-page{
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* /// HERO LANDING */
.hero-landing{
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.hero-box{
    justify-content: space-evenly;
    align-items: center;
}

.hero-mission{
    font-size: 5rem;
    line-height: 5rem;
}

.hero-temp{
    font-size: 7rem;
    line-height: 7rem;
    background: var(--backgreen);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text{
    margin-bottom: 2em;
}

.hero-img{
    width: 40%;
    height: auto;
}

/* /// NEXT LANDING */
.next-landing{
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.home-white-box{
    justify-content: space-evenly;
    align-items: baseline;
}

.home-white-item{
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


