.results-page{
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* /// HERO RESULTS */
.hero-results{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: 0;
}

.results-box{
    font-size: 0.8em;
    width: 80%;
    height: 70%;
    padding: 1em 2em;
    grid-template-rows: auto auto auto;
}

.results-head{
    justify-content: space-between;
    align-items: flex-start;
}

.results-btns{
    width: 80%;
    justify-content: flex-end;
}

/* /// DETAIL RESULTS */




.parameter-main-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.parameter-main-container > h2 {
    width: 100%;
    text-align: center;
}

.parameter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.emissions-fr-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.emissions-fr-main-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emissions-fr-main-container h2,.emissions-fr-main-container h3 {
    width: 100%;
    text-align: center;
}

.sector-linear-charts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.emissions-mondiales-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sim-jauge {
    height: 3000px;
    width: 100%;
}