@import "./icons.css";

.results-page{
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* /// HERO RESULTS */
.hero-results{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: 0;
}

.results-box{
    font-size: 0.8em;
    width: 80%;
    height: 70%;
    padding: 1em 2em;
    grid-template-rows: 1fr 3fr 3fr;
    border-radius: 1em;
}

.results-head{
    justify-content: space-between;
    align-items: center;
}

.results-temp{
    padding: 0.5em 1.5em;
    border-radius: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.results-data{
    grid-template-columns: auto auto auto;
}

.results-btns{
    width: 80%;
    justify-content: flex-end;
}

/* /// DETAIL RESULTS */
.detail-results{
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0;
}

.results-nav{
    margin: 2em 0 2em;
    height: 2.5em;
    border-radius: 1em;
    padding: 0 0.5em;
    justify-content: space-evenly;
    align-items: center;
}

.results-nav a{
    text-decoration: none;
    margin: 0 0.5em;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

.detail-parameters{
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    width: 100%;
}

.detail-parameters-box{
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 1em;
}

.detail-national{
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    width: 100%;
}

.detail-national-main{
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.emissions-fr-main-container h2,.emissions-fr-main-container h3 {
    width: 100%;
    text-align: center;
}

.sector-linear-charts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.emissions-mondiales-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}