.param-container-normal {
    width: 100%;
    padding: 0 2em;
}

.param-container-expanded{
    width: 100%;
    padding: 0 2em;
    grid-column-end: span 2;
}

.param-header {
    justify-content: start;
    align-items: center;
}

.MuiSwitch-thumb{
    color: rgb(81, 32, 114);
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: rgb(81, 32, 114) !important;
}

.MuiSwitch-colorSecondary.Mui-checked {
    color: rgb(81, 32, 114)) !important;
}

.mode-expert h6{
    color: rgb(81, 32, 114);
}

.mode-expert .MuiSlider-rail{
    background-color: rgb(81, 32, 114);
}

.param-name {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 10px;
}

.see-more-btn{
    margin-bottom: 0.5em;
}

.param-info-container-hidden {
    display: none;
    opacity: 0;
}

.param-info-container-visible {
    background-color: var(--grey);
    padding: 1em;
    border-radius: 1em;
    width: 100%;
}

.param-info-container-visible h6{
    margin-bottom: 0.5em;
}

.param-info-container-visible p{
    font-size: 0.8em;
    margin-bottom: 0.5em;
    width: 90%;
}
