/* DEBUG */
*{
    border: 1px solid darkblue;
}

/* SECTIONS */
.sim-page{
    height: 100%;
    width: 100%;
}

.sim-container-box{
    padding: 1.5%;
    width: 70%;
}

.sim-nav-box{
    height: 25%;
}

.sim-main-box{
    height: 75%;
    overflow-y: auto;
}

.sim-results-box{
    padding: 1.5%;
    width: 30%;
}

/* = = = = = = = = = = = = = = = = =  */
/* SIM-NAV */
.sim-nav-head{
    justify-content: space-between;
    align-items: center;
}

.init-button{
    margin-left: 1em;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border: 1px solid;
    border-radius: 0.8em;
    background: none;
}

/* MAIN-BOX */
.sim-param-box{
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}


/* RESULTS */