@import "./app.css";

/* /// SECTIONS */
.sim-page{
    height: 90vh;
    padding: 0 1.5% 1.5%;
}

.sim-container-box{
    grid-template-rows: 2(1fr, auto);
}

.sim-results-box{
    height: 90vh;
    padding: 1.5%;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

/* /// SIM-NAV */
.sim-nav-box{
    justify-content: space-between;
    align-items: center;
}

.sim-nav{
    align-items: center;
}

.sim-nav-scope{
    text-align: center;
    margin-bottom: 0.5em;
}

.sim-nav-categories{
    min-height: 3.5em;
    border-radius: 1em;
    padding: 0 0.5em;
    justify-content: space-evenly;
    align-items: center;
}

.sim-nav-categories p:last-of-type{
    display: none;
}

.sim-nav-categorie{
    flex-wrap: wrap;
    text-decoration: none;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    margin: 0 0.8em;
}

/* /// MAIN-BOX */
.sim-main-box{
    overflow-y: auto;
    border-radius: 1em;
    padding: 1em 2em;
}

.sim-categorie{
    justify-content: space-between;
}

hr:last-of-type{
    display: none;
}

.sim-param-box{
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

.sim-param-radio{
    margin-right: 1em;
}

.sim-param-radio input{
    margin-right: 1em;
}

/* /// RESULTS */
.sim-results-box button{
    padding: 1em 3em;
}

